/*= Global
**************************************************/
body {
	font: 25px/30px 'UniversLTStd57Condensed', Helvetica, Arial, sans-serif;
	color: #ffffff;
}

.large {
	font: 35px/40px Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.note {
	color: rgb(239, 71, 35);
}

.next {
	color: rgb(239, 71, 35);
	text-decoration: none;
}

.next.blue {
	text-decoration: none;
	color: rgb(62, 86, 166);
}

.next.active {
	-webkit-animation: blink 3s infinite;
    -moz-animation: blink 3s infinite;
	
	color: rgb(239, 71, 35);
}

.next.blue.active {
	-webkit-animation: blink 3s infinite;
    -moz-animation: blink 3s infinite;
	
	color: rgb(62, 86, 166);
}

#wrapper {
	text-align: center;
}

.darktext {
	color: #000000;
}

.orange {
	color: rgb(239, 71, 35);
}

.blue {
	color: rgb(62, 86, 166);
}

/*= Hint
**************************************************/
nav,
#hint {
	position: absolute;
	top: 0;
	width: 96%;
	padding: 5px 2%;
	z-index: 9999;
	min-height: 30px;
	
	text-align: center;
	color: #000000;
	font-size: 13px;
	
	border: 1px solid #cccccc;

	box-shadow: 0px 0px 7px #000000;
	
	background: #ffffff;
}

/*= Global Nav
**************************************************/
nav a,
#menu a {
	text-decoration: none;
	color: rgb(62, 86, 166);
	padding: 0 10px;
}

nav {
	position: fixed;
	display: block;
	top: 0;
	height: 30px;
}

#logo {
	position: absolute;
	top: 5px;
	left: 5px;
	
	height: 25px;
}

/*= Global Step
**************************************************/
.step {
	width: 500px;
	padding: 20px;
	display: block;
	z-index: 1;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.step,
.nested-step {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	
	opacity: 0;
}

.step.visible,
.step.active,
.step.nested-active {
    opacity: 1;
}

.step.nested-active,
.step.active {
	z-index: 10;
}

.light.step {
	color: #000000;
}

/*= Pages
**************************************************/
#content {
	width: 800px;
	padding: 10px;
	margin: 0 auto;
	margin-top: 200px;
	
	color: #000000;
	text-align: left;
	
	background-color: rgba(255, 255, 255, .9);
}

#content header {
	padding-top: 20px;
	
	font: 30px/35px 'UniversLTStd57Condensed', Helvetica, Arial, sans-serif;
	font-weight: bold;
}

#content header h2 {
	font: 15px;
	line-height: 18px;
	font-weight: normal;
	
	border: none;
}

#content section {
	font: 12px/15px Helvetica, Arial, sans-serif;
}

#content article p {
	margin-bottom: 10px;
}

#content a {
	color: rgb(62, 86, 166);
	text-decoration:  none;
}

#content a:hover {
	text-decoration: underline;
}

.church {
	margin: 30px 0;
}

h2 {
	font-size: 15px;
	
	padding: 10px 0;
	
	border-bottom: 1px solid #ccc;
}

/*= Background
**************************************************/
.background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
}

.dark.background {
	background: #000000;
}

.light.background {
	background: #ffffff;
}

.background.purdy {
	background: url(/img/background.jpg) 100%;
}

.background.shards {
	position: fixed;
	background: url(/img/shards.png) 50% -120px no-repeat;
}

/*= Cycle words
**************************************************/
.cycle {
	position: relative;
	overflow: hidden;
	height: 30px;
}

.cycle p:first-child {
	top: 0;
}

/*= Shatter effect
**************************************************/
#shatter {
	display:  none;
	position: absolute;
	left: 50%;
	z-index: 10;
	margin-left: -600px;
}

#shatter div {
	display: block;
	position: absolute;
	
	background: #000000;
}

/*= Step styles
**************************************************/
#whathappens {
	width: 800px;
}

#everything-changes {
	width: 700px;
}

#free p {
	font-size: 60px;
	text-transform: uppercase;
}

#everything-is-new {
	width: 900px;
}

#everything-is-new p.large {
	font-size: 72px;
	line-height: 80px;
	text-transform: uppercase;
	color: #ffffff;
	
	margin-bottom: 10px;
}

#everything-is-new a {
	color: #fff;
	text-decoration: underline;
}

#everything-is-new p {
	color: #ffffff;
}

.world,
.chain {
	display: none;
}

#full-life {
	width: 700px;
}

/*= Animation keyframes
**************************************************/
@-webkit-keyframes blink {
	0% { 
		opacity: 1;
	}
	50% { 
		opacity: .3;
	}
	100% { 
		opacity: 1;
	}
}
@-moz-keyframes blink {
	0% { 
		opacity: 1;
	}
	50% { 
		opacity: .3;
	}
	100% { 
		opacity: 1;
	}
}
@keyframes blink {
	0% { 
		opacity: 1;
	}
	50% { 
		opacity: .3;
	}
	100% { 
		opacity: 1;
	}
}

/*= Clearfix (http://perishablepress.com/press/2009/12/06/new-clearfix-hack)
**************************************************/
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}