/*= Global
**************************************************/
body {
	font: 25px/30px 'UniversLTStd57Condensed', Helvetica, Arial, sans-serif;
	color: #ffffff;
}

.large {
	font: 35px/40px Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.note {
	color: rgb(239, 71, 35);
}

.next {
	color: rgb(239, 71, 35);
	text-decoration: none;
}

.next.blue {
	text-decoration: none;
	color: rgb(62, 86, 166);
}

.next.active {
	-webkit-animation: blink 3s infinite;
    -moz-animation: blink 3s infinite;
	
	color: rgb(239, 71, 35);
}

.next.blue.active {
	-webkit-animation: blink 3s infinite;
    -moz-animation: blink 3s infinite;
	
	color: rgb(62, 86, 166);
}

#wrapper {
	text-align: center;
}

.darktext {
	color: #000000;
}

/*= Hint
**************************************************/
#hint {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px;
	display: none;
	z-index: 9999;
	min-height: 30px;
	
	text-align: center;
	color: #000000;
	font-size: 13px;
	
	border: 1px solid #cccccc;

	box-shadow: 0px 0px 7px #000000;
	
	background: #ffffff;
}

/*= Global Nav
**************************************************/
#menu-toggle {
	position: absolute;
	left: 5px;
	top: 5px;
	
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	
	cursor: pointer;
}

#menu {
	display: none;
}

#menu a {
	text-decoration: none;
	color: rgb(62, 86, 166);
	padding: 0 10px;
}



/*= Global Step
**************************************************/
.step {
	width: 500px;
	padding: 20px;
	display: block;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.step,
.nested-step {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	
	opacity: 0;
}

.step.visible,
.step.active,
.step.nested-active {
    opacity: 1;
}

.light.step {
	color: #000000;
}

/*= Background
**************************************************/
.background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.dark.background {
	background: #000000;
}

.light.background {
	background: #ffffff;
}

/*= Cycle words
**************************************************/
.cycle {
	position: relative;
	overflow: hidden;
	height: 30px;
}

.cycle p:first-child {
	top: 0;
}

/*= Shatter effect
**************************************************/
#shatter {
	display:  none;
	position: absolute;
	left: 50%;
	z-index: 10;
	margin-left: -600px;
}

#shatter div {
	display: block;
	position: absolute;
	
	background: #000000;
}

/*= Step styles
**************************************************/
#whathappens {
	width: 800px;
}

#everything-changes {
	width: 700px;
}

#free p {
	font-size: 60px;
	text-transform: uppercase;
}

#everything-is-new {
	width: 900px;
}

#everything-is-new p {
	font-size: 72px;
	text-transform: uppercase;
	color: #ffffff;
}

/*= Animation keyframes
**************************************************/
@-webkit-keyframes blink {
	0% { 
		color: rgba(0,0,0,1);
	}
	50% { 
		color: rgba(0,0,0,.3);
	}
	100% { 
		color: rgba(0,0,0,1);
	}
}
@-moz-keyframes blink {
	0% { 
		color: rgba(0,0,0,1);
	}
	50% { 
		color: rgba(0,0,0,.3);
	}
	100% { 
		color: rgba(0,0,0,1);
	}
}
@keyframes blink {
	0% { 
		color: rgba(0,0,0,1);
	}
	50% { 
		color: rgba(0,0,0,.3);
	}
	100% { 
		color: rgba(0,0,0,1);
	}
}