RewriteEngine On
RewriteBase /

RewriteRule give https://rockharbor.webconnex.com/easter12 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
